/* Large Media Query - For Desktop View */
@media screen and (min-width: 980px) {

 .top-nav h1 {
  font-size: 100px;
 }

 /* Removes Hamburger Menu */
 .top-nav a.icon {
   /*display: none;*/
 }

 .container-header {
  /*background-color: #3e5c76;*/
 }

 .search-bar input {
   height: 30px;
   width: auto;
 }
 
 .home-img {
   border-radius: 0%;
   width: 100%;
   margin-bottom: 45px;
 }

 .container-main h2 {
   font-size: 45px;
 }

 .container-main p {
   font-size: 25px;
   padding: 20px;
   width: 100%;
 }

 .submit-form {
   padding: 50px;
   text-align: center;
 }

 .submit-form h4 {
   font-size: 35px;
   margin: auto;
   width: 50%;
 }

 #name {
   padding: 10px;
   width: 80%
 }

 .fa fa-facebook {
  display: none;
 }
 
 .footer-main {
   background-color: #3e5c76;
   width: 100%;
   border-radius: 0 0 25px 25px;
 }
 
 .footer-main p {
   font-weight: bold;
   font-size: 20px;
 }

/* FlexBox*/

.container-main {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: flex-start;
}

}