* {
  box-sizing: border-box;
}

.background {
  background-color: #d7e3fc;
  padding: 10px;
}

h1 {
  float: left;
  font-family: 'Dancing Script', cursive;
  text-align: justify;
}

p {
  text-align: inherit;
  font-family: 'Shadows Into Light', cursive;
}

.container-header {
  /*background-image: linear-gradient(to right, #9bafd9 , #103783);*/
  background-color: #82a0bc;
  width: 100%;
  border-radius: 25px 25px 0 0;
  /*height: 130px;*/
  /*border-color: black;
  border-style: solid;
  margin-right: 50px;*/
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.nav-bar {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.nav-bar #links {
  display: none;
}

.nav-bar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-bar a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.container-main {
  /*background-image: linear-gradient(to right, #9bafd9 , #103783);*/
  background-color: #82a0bc;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
 /* border-style: solid;
  border-color: black;*/
}

/*.home-img {
  float: left;
  width: 50%;
  height: auto;
  border-radius: 25px;
  border-style: dotted;
  border-color: black;
  padding: 5px;
  margin-top: 10px;
  margin-left: 10px;
}*/

.footer-main {
  /*background-image: linear-gradient(to right, #9bafd9 , #103783);*/
  background-color: #82a0bc;
  width: 100%;
  border-radius: 0 0 25px 25px;
  /*height: 60px;*/
  /*border-style: solid;
  border-color: black;*/
}

.footer-main p {
  font-weight: bold;
  font-size: 20px;
}

/* Medium & Large Media Queries */

/* For Tablet View*/
@media screen and (min-width: 480px), (max-width: 780px) {
  h1 {
    
  }

  p {
    
  }

  .container-header {

  }

  .nav-bar {
    
  }

  .container-main {

  }

  .home-img {

  }

  .footer-main {

  }
}

/* For Desktop View */
@media screen and (min-width: 980px) {
  h1 {
    font-size: 52px;
  }

  p {
    font-size: 18px;
  }

  .container-header {

  }

  .nav-bar {
    
  }

  .container-main {

  }

  .home-img {

  }

  .footer-main {

  }
}