/* Medium Media Query - For Tablet View*/
@media screen and (min-width: 460px) {

 /* Begin Mobile Nav Bar */
 .top-nav h1 {
   font-size: 60px;
 }
 /* End Mobile Nav Bar */
 
 .home-img {
   border-radius: 25%;
   margin-bottom: 25px;
 }
 
 .footer-main {
   background-color: #3e5c76;
   width: 100%;
   border-radius: 0 0 25px 25px;
 }
 
 .footer-main p {
   font-weight: bold;
   font-size: 20px;
 }

/* FlexBox*/

.container-main {
 display: flex;
 flex-direction: row-reverse;
 justify-content: center;
 align-items: flex-start;
 flex-wrap: wrap;
}

.container-main section {

}

.section-1 {
 flex: 1;
}

.section-2 {
 flex: 1;
}

.section-3 {
 flex: auto;
}

}